<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" type="text/css" href="/static/styles_manage.css">
    <script src="/static/scripts_manage.js"></script>
</head>
<body>
    <h1>Manage Products</h1>

    <h2>Product Actions</h2>

    <div class="button-container">
        <button onclick="navigateTo('insert_product.html')">Insert Product</button>
        <button onclick="navigateTo('update_product.html')">Update Product</button>
        <button onclick="navigateTo('delete_product.html')">Delete Product</button>
        <button onclick="navigateTo('insert_product_discount.html')">Insert Product Discount</button>
        <button onclick="navigateTo('update_product_discount.html')">Update Product Discount</button>
        <button onclick="navigateTo('delete_product_discount.html')">Delete Product Discount</button>
        <button onclick="navigateTo('update_product_inventory.html')">Update Product Inventory</button>
        <button onclick="navigateTo('update_product_pricing.html')">Update Product Pricing</button>
    </div>

    <button class="back-button" onclick="goBack()">Go Back</button>

    
</body>
</html>


