<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor Menu</title>
    <link rel="stylesheet" type="text/css" href="/static/styles_supervisor.css">
    <script src="/static/scripts_supervisor.js"></script>
</head>
<body>
    <h1>Supervisor Menu</h1>
    <ul>
        <li><a href="/supervisor/search">Search for products</a></li>
        <li><a href="/supervisor/manage">Manage product information (CRUD operations)</a></li>
    </ul>
    <button onclick="goBack()">Go Back</button>
    
</body>
</html>
